<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>
  <meta charset="UTF-8">
  <title>DEMO</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="stylesheet" href="css/amazeui.min.css"/>
  <link rel="stylesheet" href="css/demo.css"/>
</head>
<body ng-controller="DemoController">

<div class="am-g">
  <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
    <br>
    <h1>Two way Data-Binding</h1>
    <hr>
    <br>
    <form method="post" class="am-form">
        <input type="text" placeholder="Typing..." ng-model="searchTxt">
        <span style="font-weight: bold;">Search Txt: </span><span>{{ searchTxt }}</span>
    </form>
    <table class="am-table">
        <thead>
            <tr>
                <th>网站名称</th>
                <th>网址</th>
                <th>创建时间</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in data | filter:searchTxt">
                <td>{{ item.name }}</td>
                <td>{{ item.url }}</td>
                <td>{{ item.createDate | date:'yyyy-MM-dd' }}</td>
            </tr>
        </tbody>
    </table>
    <hr>
  </div>
</div>

</body>
</html>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/amazeui.min.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/angular-route.min.js"></script>
<script type="text/javascript" src="js/demo.js"></script>